<div class="search-form" >
<h1 class="logo">Green Smoothie Generator</h1>

<img src="http://fc06.deviantart.net/fs41/i/2009/042/9/a/Ghost_in_a_Blender_by_venkman_project.jpg" alt="Juice" width="250" height="200">




<%= form_tag recipes_path, :remote => true, :method => :get do %>
  <div class="ui-widget">
    <%#= collection_select_tag 'name', Ailment.all, :id, :name, { include_blank: "" } %>
      <%= search_field_tag :search, params[:search], id: "tags", class: "search-query", size: "50", :placeholder => "Select an ailment" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-danger btn-lg", id: "search-submit" %>
    <div>
      <%= flash[:error] %>
    </div>
  </div>
<% end %><br>
</div>

<div id="recipe-result">
</div>

